@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Poppins:wght@300;500;700&display=swap');


html {
    scroll-behavior: smooth !important;
}

body {
    background-color: #000 !important;
    font-family: "Poppins" !important;
}

header.navbar-container {
    /* max-width: 1200px; */
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    /* left: 10%; */
    background-color: #000;
    padding-block: 1rem;
    z-index: 999;
    box-sizing: border-box;
}


header.navbar-container a.navbar-brand,
header.navbar-container a.navbar-brand:hover,
header.navbar-container a.navbar-brand:focus {
    display: inline-block;
    /* color: #f70214ff; */
    color: crimson;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
    text-align: center;
    padding-top: 15px;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: crimson;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    /* background-color: #f70214ff; */
    background-color: crimson;
    color: #000;
}

main .container {
    /* flex: 1; */
    margin-top: 125px;
    margin-bottom: 100px;
    /* display: flex;
    align-items: center; */
    /* background-color: var(--primary-color); */
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Jumlah baris yang diinginkan */
    -webkit-box-orient: vertical;
    min-height: 1em;
    padding-inline:inherit;
    overflow: hidden;
}

/* Menambahkan gaya agar elipsis tidak muncul saat title tidak terpotong */
.title-comic:hover {
    overflow: hidden;
    white-space: normal;
    text-overflow: initial;
    color: crimson;
    text-decoration: underline crimson;
}

/* Menyamakan jarak pada semua elemen .card-text */
.card-text {
    margin-bottom: 0.5rem;
    /* Sesuaikan dengan kebutuhan Anda */
}

.card-img-top {
    height: 350px;
}


.detail .card-title{
    text-transform: capitalize;
}

.container-detail {
    margin-top: 125px;
        margin-bottom: 100px;
}
.detail-row {
    padding-left: 22px !important;
}

.synopsis {
    text-align: justify;
    /* padding-right: 50px; */
}

.detail-col {
    padding-left: 50px !important;
    border-radius: 10px;
    color: crimson;
    display: flex !important;
}

.button-close {
    padding-left: 350px !important;
}

.detail-border {
    padding-left: 0px !important;
}

/* Tata letak untuk layar ponsel */
@media (max-width: 576px) {
    .detail-row {
        padding-left: 0px !important;
    }
    .detail-col {
        padding-left: 0px !important;
        border-radius: 10px;
        color: crimson;
        text-align: left !important;
        /* Ubah menjadi text-align: left */
    }

    .detail-title {
        padding-left: 50px !important;
    }

    .button-close {
        padding-left: 150px !important;
    }

    .synopsis-title {
        padding-left: 20px !important;
    }

    .synopsis {
        padding-left: 30px !important;
    }
}

/* Tata letak untuk layar tablet */
@media (min-width: 577px) and (max-width: 992px) {
    .detail-row {
            padding-left: 0px !important;
        }
    
        .detail-col {
            padding-left: 0px !important;
            border-radius: 10px;
            color: crimson;
            text-align: left !important;
            /* Ubah menjadi text-align: left */
        }
    
        .detail-title {
            padding-left: 50px !important;
        }
    
        .button-close {
            padding-left: 150px !important;
        }
    
        .synopsis-title {
            padding-left: 20px !important;
        }
    
        .synopsis {
            padding-left: 30px !important;
        }
    /* Mengatur lebar konten menjadi 80% pada layar tablet */
}

/* Tata letak untuk layar laptop */
@media (min-width: 993px) {
    /* Mengatur lebar konten menjadi 60% dan menampilkan sidebar pada layar laptop */

}